body {
  font-family: 'Barlow', sans-serif;
}

#type {
  height: 32px;
  width: 50px;
  border-radius: 4px;
}

#type:hover {
  border-color: red;
}

#des {
  height: 30px;
  width: 350px;
  border-radius: 4px;
  border-width: 1px;
}

#des:hover {
  border-color: red;
}

#val {
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border-width: 1px;
}

#val:hover {
  border-color: red;
}

#sub {
  height: 30px;
  width: 30px;
  /* cursor: pointer; */
  border-radius: 100%;
  border-width: 1px;
  background-color: white;
}

#sub:hover {
  border-color: red;
}

.status {
  height: 300px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
  background-size: cover;
  background-position: center;
}

.month-year {
  position: relative;
  top: 35px;
  color: white;
  font-size: 1.3rem;
}

.budget {
  position: relative;
  top: 40px;
  color: white;
  font-size: 4.1rem;
}

.income-bar {
  background-color: #009797;
  position: absolute;
  height: 40px;
  top: 170px;
  width: 300px;
  margin-left: -150px;
  left: 50%;
}

.income {
  position: absolute;
  left: 10px;
  top: 8px;
  display: inline-block;
}

.income-val {
  position: absolute;
  right: 20px;
  top: 8px;
  display: inline-block;
  color: white;
}

.expense-bar {
  background-color: #ca3232;
  position: absolute;
  height: 40px;
  top: 220px;
  width: 300px;
  margin-left: -150px;
  left: 50%;
}

.expense {
  position: absolute;
  left: 10px;
  top: 8px;
  display: inline-block;
}

.expense-val {
  position: absolute;
  right: 20px;
  top: 8px;
  display: inline-block;
  color: white;
}

.inputs {
  height: 70px;
  text-align: center;
  background-color: #eeeeee;
  /* border-width: 10px;
  border-bottom-color: grey; */
}

.input-type {
  position: relative;
  top: 25%;
  padding-right: 15px;
  display: inline-block;
}

.description {
  position: relative;
  top: 25%;
  padding-right: 15px;
  display: inline-block;
}

.value {
  position: relative;
  top: 25%;
  padding-right: 15px;
  display: inline-block;
}

.submit {
  position: relative;
  top: 25%;
  display: inline-block;
}

.income-display {
  position: absolute;
  font-size: 1.2rem;
  color: #009797;
  top: 55%;
  right: 65%;
  display: inline-block;
}

.income-list {
  background-color: pink;
  color: black;
  position: absolute;
  top: 62%;
  right: 52.5%;
  height: 45px;
  width: 450px;
}


.expense-display {
  position: absolute;
  font-size: 1.2rem;
  color: #ca3232;
  top: 55%;
  left: 65%;
  display: inline-block;
}

.expense-list {
  background-color: lightblue;
  color: black;
  position: absolute;
  top: 62%;
  left: 52.5%;
  height: 45px;
  width: 450px;
}
